.design-section .title {
  margin-bottom: -4rem;
}

.title,
.subtitle,
.card-title {
  color: var(--Very-dark-blue);
}

.illustration {
  background-image: url(/src/components/First/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 46rem;
  left: 25%;
}

.card {
  padding-left: 9.5rem;
}

.card-text {
  color: var(--Very-dark-grayish-blue);
  font-size: 0.85rem;
  line-height: 2;
  padding-right: 5rem;
}