.bg-footer {
  background-color: var(--Very-dark-black-blue);
  height: 20rem;
  border-radius: 0 5rem 0 0;
  overflow: hidden;
  z-index: -1;
}

footer ul.list-group li {
  font-size: 0.75rem;
  list-style-type: none;
  line-height: 2.5; 
}

li a {
  color: var(--Grayish-blue);
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: var(--Grayish-blue);
}

@media screen and (max-width:500px) {
  .bg-footer {
    height: 100%;
  }
}