.bg-container {
  background-image: linear-gradient(45deg,hsl(237, 17%, 21%) 10%,  hsl(237, 23%, 32%) 80%);
  height: 20rem;
  border-radius: 0 5rem;
  position: relative;
}

.bg-pattern-circles {
  background-image: url(bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  position: relative;
  width: 55rem;
  height: 25rem;
  left: -12rem;
  z-index: 1;
}

.illustration-phones {
  background-image: url(illustration-phones.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 460px;
  width: 100%;
  position: relative;
  top: -3.5rem;
  z-index: 2;
}

 .container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
 }

 .bg-container .card-title {
  color: var(--White);
 }

 .bg-container .card-text  {
  color: var(--Grayish-blue);
 }

 .container .card {
  background-color: transparent;
  padding: 0;
 }

 .bg-crop {
  height: 20rem;
   overflow: hidden;
   position: absolute;
 }