@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&family=Open+Sans:wght@300;400;700&family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* Primary */
  --Light-red: hsl(356, 100%, 66%);
  --Very-light-red: hsl(355, 100%, 74%);
  --Very-light-red-hoover: hsla(355, 100%, 74%, 0.3);
  --Very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grayish-blue: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue: hsl(240, 10%, 16%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}